<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Asciidoc-Revealjs Converter</title>    
    </head>
    <body>
        <h1>Asciidoc-Revealjs Converter</h1>

        <p>This tool allows you to convert your asciidoc documents to reveal.js slides online!</p>
        
        <form action="render">
            <p>
                <label for="url"><b>Enter the link to your document to the form below:</b></label>
            </p>
            <input type="url" name="url" placeholder="Raw github reference">
            <input type="submit">
        </form>
    </body>
</html>