<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slides online editor</title>

	<script>
		var SLIDE_ANCHOR_SEPARATOR = "#/";

		function extractCurrentSlideAnchor(url) {
			var poundIdx = url.lastIndexOf(SLIDE_ANCHOR_SEPARATOR);
			if (poundIdx == -1) {
				return "";
			}

			return url.substring(poundIdx + 2);
		}

		function getSlidesSourceCodeForm(document) {
			return document.querySelector("#slides-source-code-form");
		}

		function getRenderedSlidesIframe(document) {
			return document.querySelector("#rendered-slides-iframe");
		}

		function renderCurrenSlides(e) {
			var slidesSourceCode = getSlidesSourceCodeForm(document).text.value;
				var newSlidesAddress = "/render?text=" + encodeURIComponent(slidesSourceCode);

			var slidesFrame = getRenderedSlidesIframe(document);
				var currentSlidesAddress = slidesFrame.contentWindow.location.href;
				var currentSlideAnchor = extractCurrentSlideAnchor(currentSlidesAddress);
				
				slidesFrame.src = newSlidesAddress + SLIDE_ANCHOR_SEPARATOR + currentSlideAnchor;
		}

		window.onload = function() {			
			var slidesSourceCodeForm = getSlidesSourceCodeForm(document);
			
			slidesSourceCodeForm.addEventListener("submit", renderCurrenSlides);
		};
	</script>
</head>
<body>
	<h1>Asciidoc-Revealjs Converter Online editor</h1>
	<div style="float: left; width: 49%">
		<form id="slides-source-code-form" onsubmit="return false;">
			<p><textarea rows="10" cols="90" name="text"></textarea></p>
			<p><input type="submit" value="Render"></p>
		  </form>
	</div>
	<iframe id="rendered-slides-iframe" style="float: left; width: 50vw; height: 30vw" src=""></iframe>
</body>
</html>