<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slides online editor</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script>
        var RENDER_SLIDES_AFTER_CHANGES_TIMEOUT = 1000;
        var SLIDE_ANCHOR_SEPARATOR = "#/";

        function extractCurrentSlideAnchor(url) {
            var poundIdx = url.lastIndexOf(SLIDE_ANCHOR_SEPARATOR);
            if (poundIdx == -1) {
                return "";
            }

            return url.substring(poundIdx + 2);
        }

        function getRenderedSlidesIframe(document) {
            return document.querySelector("#rendered-slides-iframe");
        }

        function renderSlidesToIframe(slidesSourceCode) {
            var newSlidesAddress = "/render?text=" + encodeURIComponent(slidesSourceCode);

            var slidesFrame = getRenderedSlidesIframe(document);
            var currentSlidesAddress = slidesFrame.contentWindow.location.href;
            var currentSlideAnchor = extractCurrentSlideAnchor(currentSlidesAddress);
            
            slidesFrame.src = newSlidesAddress + SLIDE_ANCHOR_SEPARATOR + currentSlideAnchor;
        }

        window.onload = function() {			
            var slidesSourceCodeForm = document.querySelector("#slides-source-code-form");
            
            function fetchAndRenderSlides(e) {
                renderSlidesToIframe(slidesSourceCodeForm.text.value);
            }

            slidesSourceCodeForm.addEventListener("submit", fetchAndRenderSlides);
            slidesSourceCodeForm.addEventListener("input", _.debounce(fetchAndRenderSlides, RENDER_SLIDES_AFTER_CHANGES_TIMEOUT));
        };
    </script>
</head>
<body>
    <h1>Asciidoc-Revealjs Converter Online editor</h1>
    <div style="display: flex">
        <div style="flex:50%; height: 600px">
            <form id="slides-source-code-form" onsubmit="return false;">
                <p><textarea rows="10" cols="90" name="text"></textarea></p>
                <p><input type="submit" value="Render"></p>
              </form>
        </div>    
        <iframe id="rendered-slides-iframe" style="flex:50%" src=""></iframe>
    </div>
</body>
</html>